/* TipForm Styles */
html {
    scroll-behavior: smooth;
}

.Tip-Page{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Tip-Page img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.TipForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #ffffff;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    padding: 2rem;
}

.TipForm .labels {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    max-width: 30vw;
    width: 100%;
    margin-bottom: 1rem;
}

.TipForm button {
    padding: 1rem 4rem;
    border-radius: 40px;
    box-size: border-box;
    background-color: #4e44ce; /* Neon accent */
    color: #ffffff;
    transition: all 0.3s ease;
}


.TipForm input[type="text"], 
.TipForm input[type="Number"]{
    padding: 1rem 2rem;
    border-radius: 40px;
    font-size: 20px;
    min-width: 30vw;
    color: black;
    border: 3px solid #6a76d1;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.ammount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 30vw;
    width:100%;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: 20px;
    background-color: #2e2e3e;
    color: #ffffff;
    border: 1px solid #4e44ce;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.TipForm input[type="text"]:focus,
.TipForm input[type="number"]:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 10px rgba(108, 99, 255, 0.7);
}

.TipForm span {
    margin-left: 10px;
}

/* TweetPreview Styles */
.TweetPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden; /* Prevent overflow */
}

.TweetPreview .twitter-tweet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* background-color: #2e2e3e; Dark background */
    padding: 1rem;
    width: 80%; /* Ensure it doesn't take too much space */
    margin: 1rem 0;
    overflow: hidden; /* Prevent overflow */
}

.TweetPreview .twitter-tweet iframe {
    transform-origin: top left;
    width: 100%; /* Ensure responsiveness */
    margin: 0;
    border-radius: 10px;
    min-width: 400px;
    max-height: 45%;
    overflow: hidden; /* Prevent overflow */
}

.TweetPreview .confirm-btn {
    padding: 0.5rem 2rem;
    border-radius: 30px;
    /* background-color: #4e44ce; Neon accent */
    color: #ffffff;
    /* border: none; */
    transition: all 0.3s ease;
}

.TweetPreview .confirm-btn:hover {
    background-color: #6c63ff; /* Lighter neon shade on hover */
    box-shadow: 0 0 10px rgba(108, 99, 255, 0.7);
    cursor: pointer;
}

.tweet {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    overflow: hidden; /* Prevent overflow */
}
