.User-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #ffffff;
  min-height: 40vh;
  font-size: 20px;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 6rem;
}
.Withdraw-Content{
  display: flex;
  justify-content: center;
}

.TwitterLogin{
  min-height: 100vh;
}

.twitter-withdraw-btn {
  padding: 0.5rem 1.3rem;
  border-radius: 20px;
  background-color: #010001; /* Neon accent */
  color: #ffffff;
  border-radius: 30px;
  border: 2px solid white;
  transition: all 0.3s ease;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.User-details{
  display: flex;
  flex-direction: column;
  width:50vw;
  margin-top: 1rem;
  margin-left: 14rem;
}

.name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}

.name h1{
  color: #1629ae;
}

.withdraw-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-top: 1rem;

}

.TwitterLogin h1 {
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 6rem;
}

.TwitterLogin h2 {
  font-size: 4rem;
}

.tip-blue {
  color: rgba(250, 250, 255, 0.7);
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.balance p {
  font-size: 2.5rem;
}

.balance button {
  border-radius: 30px;
  border: 2px solid white;
  padding: 0.5rem 1.3rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: white;
  background-color: #010001;
  cursor: pointer;
  transition: all 0.3s ease;
}

.twitter-logout-btn {
  border-radius: 30px;
  border: 2px solid white;
  padding: 0.5rem 2.3rem;
  font-size: 1.5rem;
  color: white;
  background-color: #010001;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 15%;
  min-width: 15%;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 2vw;
  min-height: 2vw;
  height: 100%;
}

.Withdraw{
  width: 100%;
}